- Author: Ben Du
- Date: 2021-01-10 13:04:59
- Title: Select All Columns Except a Few from a Table
- Slug: select-all-columns-except-a-few-from-a-table
- Category: Computer Science
- Tags: Computer Science, programming

 ** Things on this page are fragmentary and immature notes/thoughts of the author. Please read with your own judgement! **

## Comments

There is no (direct) way of select all columns except a few from a table using SQL.
However, 
this is easily doable with DataFrame APIs (pandas, Spark/PySpark, etc.).

In [1]:
import pandas as pd
import findspark
findspark.init("/opt/spark-2.3.1-bin-hadoop2.7/")

from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.functions import *
from pyspark.sql.types import StructType
spark = SparkSession.builder.appName("Case/When") \
    .enableHiveSupport().getOrCreate()

Exception: Unable to find py4j, your SPARK_HOME may not be configured correctly

In [3]:
df = spark.createDataFrame(pd.DataFrame(data=(
    ("Ben", "Du", 1),
    ("Ben", "Du", 2),
    ("Ben", "Tu", 3),
    ("Ben", "Tu", 4),
    ("Ken", "Xu", 1),
    ("Ken", "Xu", 9)
), columns=("fname", "lname", "score")))
df.show()

+-----+-----+-----+
|fname|lname|score|
+-----+-----+-----+
|  Ben|   Du|    1|
|  Ben|   Du|    2|
|  Ben|   Tu|    3|
|  Ben|   Tu|    4|
|  Ken|   Xu|    1|
|  Ken|   Xu|    9|
+-----+-----+-----+

### Reference

http://renien.com/blog/exclude-field-hive-query/ 

https://stackoverflow.com/questions/34198114/alter-hive-table-add-or-drop-column