- Title: Format Date and Time in Python
- Slug: python-datetime-format
- Date: 2020-03-11 12:34:08
- Category: Computer Science
- Tags: programming, Python, time, datetime, date, format
- Author: Ben Du

## Date/Time Format and Examples


    %a 星期几的简写 Weekday name, abbr.
    %A 星期几的全称 Weekday name, full
    %b 月分的简写 Month name, abbr.
    %B 月份的全称 Month name, full
    %c 标准的日期的时间串 Complete date and time representation
    %d 十进制表示的每月的第几天 Day of the month
    %H 24小时制的小时 Hour (24-hour clock)
    %I 12小时制的小时 Hour (12-hour clock)
    %j 十进制表示的每年的第几天 Day of the year
    %m 十进制表示的月份 Month number
    %M 十时制表示的分钟数 Minute number
    %S 十进制的秒数 Second number
    %U 第年的第几周，把星期日做为第一天（值从0到53）Week number (Sunday first weekday)
    %w 十进制表示的星期几（值从0到6，星期天为0）weekday number
    %W 每年的第几周，把星期一做为第一天（值从0到53） Week number (Monday first weekday)
    %x 标准的日期串 Complete date representation (e.g. 13/01/08)
    %X 标准的时间串 Complete time representation (e.g. 17:02:10)
    %y 不带世纪的十进制年份（值从0到99）Year number within century
    %Y 带世纪部分的十制年份 Year number
    %z，%Z 时区名称，如果不能得到时区名称则返回空字符。Name of time zone
    %% 百分号

In [19]:
from datetime import datetime
import pandas as pd
pd.options.display.max_colwidth = 100
now = datetime.now()
formats = [
    ("%Y-%m-%d", ""), 
    ("%y-%m-%d", ""),
    ("%x", ""),
    ("%Y-%m-%d %H:%M:%S", ""),
    ("%Y-%m-%d %H:%M:%S.%f", "The default format when convert a datetime object to string."),
    ("%Y-%m-%d %X", ""),
    ("%Y-%m-%d %H:%M:%S %z", ""),
    ("%W", ""),
    ("%w", ""),
    ("%c", ""),
    ("%B", ""),
    ("%b", ""),
    ("%A", ""),
    ("%a", "")
]
# examples = [[f, now.strftime(f)] for f in formats]
df = pd.DataFrame(formats, columns = ["Fomat", "Comment"])
df.insert(1, column="Examples", value=[now.strftime(fmt) for fmt, _ in formats])
df

,Fomat,Examples,Comment
0,%Y-%m-%d,2020-03-11,
1,%y-%m-%d,20-03-11,
2,%x,03/11/20,
3,%Y-%m-%d %H:%M:%S,2020-03-11 12:32:11,
4,%Y-%m-%d %H:%M:%S.%f,2020-03-11 12:32:11.349915,The default format when convert a datetime object to string.
5,%Y-%m-%d %X,2020-03-11 12:32:11,
6,%Y-%m-%d %H:%M:%S %z,2020-03-11 12:32:11,
7,%W,10,
8,%w,3,
9,%c,Wed Mar 11 12:32:11 2020,
10,%B,March,
11,%b,Mar,
12,%A,Wednesday,
13,%a,Wed,

## Date to String

In [16]:
d.strftime('%Y-%m-%d')

'2017-01-09'