- Title: Format Date and Time in Python
- Slug: python-datetime-format
- Date: 2020-03-11 11:14:05
- Category: Computer Science
- Tags: programming, Python, time, datetime, date, format
- Author: Ben Du

## Date/Time Format and Examples


    %a 星期几的简写 Weekday name, abbr.
    %A 星期几的全称 Weekday name, full
    %b 月分的简写 Month name, abbr.
    %B 月份的全称 Month name, full
    %c 标准的日期的时间串 Complete date and time representation
    %d 十进制表示的每月的第几天 Day of the month
    %H 24小时制的小时 Hour (24-hour clock)
    %I 12小时制的小时 Hour (12-hour clock)
    %j 十进制表示的每年的第几天 Day of the year
    %m 十进制表示的月份 Month number
    %M 十时制表示的分钟数 Minute number
    %S 十进制的秒数 Second number
    %U 第年的第几周，把星期日做为第一天（值从0到53）Week number (Sunday first weekday)
    %w 十进制表示的星期几（值从0到6，星期天为0）weekday number
    %W 每年的第几周，把星期一做为第一天（值从0到53） Week number (Monday first weekday)
    %x 标准的日期串 Complete date representation (e.g. 13/01/08)
    %X 标准的时间串 Complete time representation (e.g. 17:02:10)
    %y 不带世纪的十进制年份（值从0到99）Year number within century
    %Y 带世纪部分的十制年份 Year number
    %z，%Z 时区名称，如果不能得到时区名称则返回空字符。Name of time zone
    %% 百分号

In [2]:
from datetime import datetime
import pandas as pd
now = datetime.now()
formats = [
    '%Y-%m-%d',
    '%y-%m-%d',
    '%x',
    '%Y-%m-%d %H:%M:%S',
    '%Y-%m-%d %H:%M:%S.%f',
    '%Y-%m-%d %X',
    '%Y-%m-%d %H:%M:%S %z',
    '%W',
    '%w',
    '%c',
    '%B',
    '%b',
    '%A',
    '%a'
]
examples = [[f, now.strftime(f)] for f in formats]
pd.DataFrame(examples, columns = ['format', 'example'])

                  format                     example
0               %Y-%m-%d                  2017-11-23
1               %y-%m-%d                    17-11-23
2                     %x                    11/23/17
3      %Y-%m-%d %H:%M:%S         2017-11-23 11:41:57
4   %Y-%m-%d %H:%M:%S.%f  2017-11-23 11:41:57.920359
5            %Y-%m-%d %X         2017-11-23 11:41:57
6   %Y-%m-%d %H:%M:%S %z        2017-11-23 11:41:57
7                     %W                          47
8                     %w                           4
9                     %c    Thu Nov 23 11:41:57 2017
10                    %B                    November
11                    %b                         Nov
12                    %A                    Thursday
13                    %a                         Thu

## Date to String

In [16]:
d.strftime('%Y-%m-%d')

'2017-01-09'