- Title: Reshape a pandas DataFrame
- Slug: python-pandas-reshape
- Date: 2020-04-13
- Category: Computer Science
- Tags: programming, Python, pandas, DataFrame, reshape
- Author: Ben Du

# Reshape DataFrame

In [6]:
import pandas as pd
import numpy as np

In [7]:
df1 = pd.DataFrame({
    'x': [1, 2, 3],
    'y': [5, 4, 3]
})
df1

   x  y
0  1  5
1  2  4
2  3  3

In [8]:
df2 = pd.DataFrame({
    'x': [0, 0, 3000],
    'y': [78, 4, 3]
})
df2

      x   y
0     0  78
1     0   4
2  3000   3

## Concate Rows

You can use both the `DataFrame.append` (returns a new data frame rather than in-place) and `pandas.concat` to concate rows of data frames. 
`pandas.concat` is recommended when you want to concate rows of multiple data frames.

In [9]:
df1.append(df2, ignore_index=True)

      x   y
0     1   5
1     2   4
2     3   3
3     0  78
4     0   4
5  3000   3

In [10]:
df1

   x  y
0  1  5
1  2  4
2  3  3

In [12]:
pd.concat([df1, df2], ignore_index=True)

      x   y
0     1   5
1     2   4
2     3   3
3     0  78
4     0   4
5  3000   3

## Concate Columns

In [14]:
pd.concat([df1, df2], axis=1)

   x  y     x   y
0  1  5     0  78
1  2  4     0   4
2  3  3  3000   3

In [15]:
pd.concat([df1, df2], ignore_index=True, axis=1)

   0  1     2   3
0  1  5     0  78
1  2  4     0   4
2  3  3  3000   3