- Title: The set Collection in Python
- Slug: python-set
- Date: 2019-12-28
- Category: Programming
- Tags: programming, Python, set
- Author: Ben Du

https://docs.python.org/3/library/stdtypes.html#set

## set.add

`set.add` adds an Element in place.

In [19]:
s = set([1, 2, 3])

In [20]:
s.add(4)

In [21]:
s

{1, 2, 3, 4}

## set.union

`set.union` returns a new set containing the union of 2 sets.
Note: there is no `+` operator (use `set.union` instead) for sets even if there is `-` operator for sets.

In [31]:
s = set([1, 2, 3])

In [32]:
s.union([2, 3, 4])

{1, 2, 3, 4}

## set.update

`set.update` inserts all elements of another iterable **in place**.

In [24]:
s = set([1, 2, 3])

In [25]:
s.update([2, 3, 4])

In [26]:
s

{1, 2, 3, 4}

## set.difference

`set.difference` returns a new set containing the difference between this set and another set.
It is equivalent to the `-` operator.
Note: there is no `+` (use `set.union` instead) opeerator for sets.

In [8]:
set([2, 3, 4]).difference(set([1, 2, 3]))

{4}

In [5]:
set([2, 3, 4]) - set([1, 2, 3])

{4}

## Remove Elelment

In [3]:
s = set(range(10))

In [4]:
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
s.pop()

0

In [6]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## intersection

In [3]:
c1 = [1, 6, 7, 10, 13, 28, 32, 41, 58, 63]
c2 = [13, 17, 18, 21, 32]
c3 = [13, 59, 67]

In [2]:
set(c1).intersection(c2)

{13, 32}

In [4]:
set(c1).intersection(c2, c3)

{13}

In [5]:
set(c1).intersection(*[c2, c3])

{13}

https://docs.python.org/3/library/stdtypes.html#set

## Tricks & Traps

Note: `set` accepts a **single iterable argument** instead of varargs!

1. `set('abc')` creates set with elements 'a', 'b' and 'c' 
    instead of a set with a single element 'abc'!  
    
2. `set(1, 2, 3)` won't create a set of elements 1, 2 and 3 
but will instead throw TypeErro as set requires a single iterable argument.

`set('abc')` creates set with elements 'a', 'b' and 'c' 
    instead of a set with a single element 'abc'!

In [5]:
set('abc')

{'a', 'b', 'c'}

`set(1, 2, 3)` won't create a set of elements 1, 2 and 3 
but will instead throw TypeErro as set requires a single iterable argument.

In [6]:
set(1, 2, 3)

TypeError: set expected at most 1 arguments, got 3

Create a set containing numbers 0-9 using `range`.

In [2]:
set(range(0, 10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Or you use set comprehension.

In [5]:
s = set(i for i in range(0, 10))