- Title: Rename Columns in Spark DataFrames
- Slug: spark-rename-columns
- Date: 2019-12-18
- Category: Programming
- Tags: programming, Scala, Spark, DataFrame, rename, column
- Author: Ben Du

## Comment

You can use `withColumnRenamed` to rename a column in a DataFrame.
You can also do renaming using `alias` when select columns.

In [1]:
%%classpath add mvn
org.apache.spark spark-core_2.11 2.3.1
org.apache.spark spark-sql_2.11 2.3.1

In [2]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions._

val spark = SparkSession.builder()
    .master("local[2]")
    .appName("Spark Column Example")
    .config("spark.some.config.option", "some-value")
    .getOrCreate()

import spark.implicits._

org.apache.spark.sql.SparkSession$implicits$@72bf6e43

In [4]:
val df = Seq(
    (1L, "a", "foo", 3.0),
    (2L, "b", "bar", 4.0),
    (3L, "c", "foo", 5.0),
    (4L, "d", "bar", 7.0)
).toDF("X1", "X2", "X3", "X4")
df.show

+---+---+---+---+
| X1| X2| X3| X4|
+---+---+---+---+
|  1|  a|foo|3.0|
|  2|  b|bar|4.0|
|  3|  c|foo|5.0|
|  4|  d|bar|7.0|
+---+---+---+---+

null

In [14]:
val b = if(false) "Good" 
        else "Bad"

Bad

In [15]:
b

Bad

In [7]:
df.write.option("header", "true").mode("overwrite").csv("test.csv")

In [1]:
val df = Seq(
    (1L, "a", "foo", 3.0),
    (2L, "b", "bar", 4.0),
    (3L, "c", "foo", 5.0),
    (4L, "d", "bar", 7.0)
).toDF
df.show

<console>: 77

## Renaming One Column Using `withColumnRenamed`

In [2]:
df.withColumnRenamed("_1", "x1").show

+---+---+---+---+
| x1| _2| _3| _4|
+---+---+---+---+
|  1|  a|foo|3.0|
|  2|  b|bar|4.0|
|  3|  c|foo|5.0|
|  4|  d|bar|7.0|
+---+---+---+---+

## Renaming One Column Using `alias`

In [3]:
df.select(
    $"_1".alias("x1"),
    $"_2",
    $"_3",
    $"_4"
).show

+---+---+---+---+
| x1| _2| _3| _4|
+---+---+---+---+
|  1|  a|foo|3.0|
|  2|  b|bar|4.0|
|  3|  c|foo|5.0|
|  4|  d|bar|7.0|
+---+---+---+---+

## Batch Renaming Using `withColumnRenamed`

In [5]:
lookup.foldLeft(df) {
    (acc, ca) => acc.withColumnRenamed(ca._1, ca._2)
}.show

+---+---+---+---+
| x1| x2| x3| _4|
+---+---+---+---+
|  1|  a|foo|3.0|
|  2|  b|bar|4.0|
|  3|  c|foo|5.0|
|  4|  d|bar|7.0|
+---+---+---+---+

## Batch Renaming Using `alias`

In [2]:
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions._

val spark = SparkSession.
    builder().
    appName("Spark SQL basic example").
    config("spark.some.config.option", "some-value").
    getOrCreate()
spark

val lookup = Map("_1" -> "x1", "_2" -> "x2", "_3" -> "x3")

df.select(df.columns.map(c => col(c).alias(lookup.getOrElse(c, c))): _*).show

+---+---+---+---+
| x1| x2| x3| _4|
+---+---+---+---+
|  1|  a|foo|3.0|
|  2|  b|bar|4.0|
|  3|  c|foo|5.0|
|  4|  d|bar|7.0|
+---+---+---+---+